body {
  /* background-color: #DBEAFE; */
}
.home{
  background: #6B7280;
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.sub-home{
  background-color: white;
  cursor: pointer;
  padding: 1rem 1rem;
  height: 1rem;
  width: 6rem;
  box-shadow: 0 0 2px 1px gray;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.googleIcon{
  height: 2rem;
  width: 2rem;
}
.container {
  display: flex;
  height: 100vh;
  width: 100%;
}
.App {
  display: flex;
  height: 100vh;
  width: 100%;
}
/* left side (current users) */
.allUsers {
  width: 25%;
  height: 100%;
  border: 1px solid blue;
}
.user{
  margin: 1rem; 
  background-color: #9df3ce;
  border-bottom: 1px solid #E5E7EB;
  height: 3rem;
  max-width: 100%;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: flex-start;
}
.profileImage{
  align-self: center;
  margin-right: 5px;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
}

/* right side (user chats) */
.userChat {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 75%;
  border: 1px solid black;
}



.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  background-color: #D1FAE5;
}

main {
  padding: 10px;
  height: 80vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-track {
  background: #1e1e24;
}

main::-webkit-scrollbar-thumb {
  background: #6649b8;
}

form {
  width: 75%;
  display: flex;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 5px 1px rgb(172, 170, 170);
  padding: 0.3rem;
  background-color: white;
  height: 3rem;
}

.inputChat{
  width: 80%;
  max-width: 100%;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 2rem;
  background-color: #c9c9e4;
}
.inputChat:focus {
  outline: none;
}

.submitBtn {
  font-size: larger;
  color: #3B82F6;
  /* height: 2rem;
  width: 3rem; */
  border: none;
  background: transparent;
  cursor: pointer;  
}
.sendImage{
  background: transparent;
  cursor: pointer;
  border: none;
}

/* header part */

header{
  box-shadow: 0 0 3px 2px #c1c2c2;
  height: 3rem;
  justify-content: flex-start;
  background-color: white;
  min-height: 50px;
  color: white;
  position: fixed;
  width: 75%;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
}
.logoutBtn{
  align-self: flex-end;
  cursor: pointer;
  border:none;
  background: transparent;
  align-self: center; 
}
/* main part(message part) */

/* .msg{
  background-color: teal;
} */

.message {
  display: flex;
  align-items: center;
}


.sent {
  flex-direction: row-reverse;
}

.sent div {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  margin-right: 1rem;
  color: white;
  background: black;
  align-self: flex-end;
}
.received div {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin-left: 1rem;
  background: white;
  color: black;
}

input[type=file]
{
  display: none;  
  cursor: pointer;
}

.msg{
  margin:0.5rem 0;
  display: flex;
  flex-direction: column;
}
.msgTime{
  color: #D1D5DB;
  align-self: flex-end;
  margin-right:8px;
}

.entryContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.signupContainer{
  border: 1px solid rgb(78, 76, 76);
  box-shadow: 0 1px 2px 1px gray;
  border-radius: 1rem;
  padding: 3rem;
  margin: auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signupField{
  border: none;
  width: 80%;
  max-width: 100%;
  font-size: 1rem;
  margin: 1rem;
  border-radius: 0;
  border-bottom: 1px solid gray;
}

.signupField:focus{
  outline: none;  
}

.signupContainer input[type=password]{
  border: none;
  width: 80%;
  max-width: 100%;
  font-size: 1rem;
  margin: 1rem;
  border-radius: 0;
  border-bottom: 1px solid gray;
}
.signupContainer input[type=password]{
  outline: none;
}

.signUp{
  align-self: flex-start;
  color: white;
  cursor: pointer;
  margin-left: 1rem;
  border-radius: 1rem;
  border: none;
  padding: 0.5rem 1rem;
  box-shadow: 0 1px 2px 0px black;
  background-color: #3B82F6;
}

.signUp:hover{
  background-color: #93C5FD;
}

.btns{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.toggleSign{
  text-decoration: underline;
  color: green;
  cursor: pointer;
}