body {
  /* background-color: #DBEAFE; */
}
.container {
  display: flex;
  height: 100vh;
  width: 100%;
}
.App {
  display: flex;
  height: 100vh;
  width: 100%;
}
/* left side (current users) */
.allUsers {
  width: 25%;
  height: 100%;
  border: 1px solid blue;
}
.user{
  background-color: #c8cfcc;
  border-bottom: 1px solid #E5E7EB;
  height: 3rem;
  max-width: 100%;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: flex-start;
}
.profileImage{
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}

/* right side (user chats) */
.userChat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 75%;
  border: 1px solid black;
}
header {
  height: 4rem;
  background-color: #D1D5DB;
}
form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 5px 1px rgb(172, 170, 170);
  padding: 0.3rem;
  background-color: white;
  height: 3rem;
}
input[type="text"] {
  width: 80%;
  max-width: 100%;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 2rem;
  background-color: #c9c9e4;
}
input[type="text"]:focus {
  outline: none;
}

.submitBtn {
  border: none;
  background: transparent;
  cursor: pointer;  
}
.sendImage{
  background: transparent;
  cursor: pointer;
  border: none;
}

/* header part */

header{
  box-shadow: 0 0 3px 1px #F3F4F6;
  
  display: flex;
  justify-content: flex-end;
}
.logoutBtn{
  cursor: pointer;
  border:none;
  background: transparent;
  align-self: center; 
}
/* main part(message part) */

.msg{
  background-color: teal;
}

