body {
  /* background-color: #DBEAFE; */
}
.container {
  display: flex;
  height: 100vh;
  width: 100%;
}
.App {
  display: flex;
  height: 100vh;
  width: 100%;
}
/* left side (current users) */
.allUsers {
  width: 25%;
  height: 100%;
  border: 1px solid blue;
}
.user{
  background-color: #c8cfcc;
  border-bottom: 1px solid #E5E7EB;
  height: 3rem;
  max-width: 100%;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: flex-start;
}
.profileImage{
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}

/* right side (user chats) */
.userChat {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 75%;
  border: 1px solid black;
}



.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  background-color: white;
}

main {
  padding: 10px;
  height: 80vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-track {
  background: #1e1e24;
}

main::-webkit-scrollbar-thumb {
  background: #6649b8;
}

form {
  width: 75%;
  display: flex;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 5px 1px rgb(172, 170, 170);
  padding: 0.3rem;
  background-color: white;
  height: 3rem;
}

input[type="text"] {
  width: 80%;
  max-width: 100%;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 2rem;
  background-color: #c9c9e4;
}
input[type="text"]:focus {
  outline: none;
}

.submitBtn {
  border: none;
  background: transparent;
  cursor: pointer;  
}
.sendImage{
  background: transparent;
  cursor: pointer;
  border: none;
}

/* header part */

header{
  box-shadow: 0 0 3px 2px #c1c2c2;
  height: 3rem;
  justify-content: flex-end;
  background-color: white;
  min-height: 50px;
  color: white;
  position: fixed;
  width: 75%;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
}
.logoutBtn{
  cursor: pointer;
  border:none;
  background: transparent;
  align-self: center; 
}
/* main part(message part) */

/* .msg{
  background-color: teal;
} */

.message {
  display: flex;
  align-items: center;
}


.sent {
  flex-direction: row-reverse;
}

.sent p {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  margin-right: 1rem;
  padding:1rem;
  color: white;
  background: #0b93f6;
  align-self: flex-end;
}
.received p {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin-left: 1rem;
  padding:1rem;
  background: #e5e5ea;
  color: black;
}
